body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.starlogo {
  margin-bottom: 5px;
}
ul > li > Link {
  text-decoration: none;
}
.error-page {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* Navbar CSS */
.header-container {
  border-bottom: 1px solid gray;
  height: 85px;
  box-shadow: 0 4px 5px 0 rgba(211, 21, 21, 0.2), 0 6px 20px 0 rgba(221, 28, 28, 0.19);
}
.logolink {
  text-decoration: none;
  margin-left: 10px;
  display: flex;
  font-size: 20px;
  font-weight: bolder;
  color: orangered;
}
.navbar {
  margin-right: 10px;
  display: flex;
  justify-content: space-between;
}
.nav-list {
  text-decoration: none;
  display: flex;
  list-style-type: none;
}
.links {
  text-decoration: none;
  color: rgb(92, 87, 87);
}
.links:hover {
  color: orangered;
}
.linkss:hover {
  color: orangered;
}

ul > li {
  padding: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 5px;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid gray;
  box-shadow: 0 4px 5px 0 rgba(208, 23, 23, 0.2), 0 0px 20px 0 rgba(217, 46, 46, 0.19);
}
.cartimg{
  text-align: center;
}
.descriptions {
  line-height: 1.5em;
  height: 3em;        
  overflow: hidden; 
}
.searchFilter{
  display: flex;
}
.movie-details{
  display: flex;
}
.titles{
  display: flex;
  text-align: center;
  justify-content: space-between;
}
.m-rating{
  font-size: 15px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid orange;
  color: white;
  text-align: center;
  padding:5px;
  background-color: green;
}
.rating{
  float: right;
  font-size: 12px;
  height: 25px;
  border-radius: 5px;
  border: 1px solid orange;
  color: white;
  text-align: center;
  padding:3px;
  background-color: rgb(12, 121, 12);
}
.card-design{
  text-decoration: none;
} 

.card-groups{
  border-bottom: 1px solid gray; 
}